@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --header-height: 48px;
    --font-weight: 600;

/* FONT-SIZE */
    --big-font-size: 32px;
    --h2-font-size: 20px;
    --normal-font-size: 15px;
    --smaller-font-size: 12px;

/* MARGIN-BOTTOM  */
    --mb-2: 16px;
    --mb-4: 32px;
    --mb-5: 40px;
    --mb-6: 48px;

/* Z-INDEX */
    --z-back: -10;
    --z-fixed: 100;

    /* COLORS */
    --bg-color-dark: #1f242d;
    --bg-color-grey: #323946;
    --bg-color-light: #ede7de;

    --text-color-white: #fff;
    --text-color-aqua: #0ef;
    --text-color-black: #000;
    --text-color-forest: #025a4e;

    
}


*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-grey);
    color: var(--text-color-white);
    font-family: "Philosopher", sans-serif;
    font-size: var(--normal-font-size);
    margin: var(--header-height) 0 0 0;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}
form {
    padding-top: var(--mb-2);
}
/* SECTION */
.section-title {
    color: var(--text-color-aqua);
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    margin-top: var(--mb-2);
    position: relative;
    text-align: center;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: 32px;
    background-color: var(--text-color-aqua);
}
.section {
    padding-top: 56px;
    padding-bottom: 48px;   
}

/* LAYOUT  */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-column-gap: 32px;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.2);
    background-color: var(--bg-color-dark);
}
.l-main {
    overflow: hidden;
}
.active {
    box-shadow: 
    1px 2px 2px #b9b0b0,
    1px 2px 2px #b9b0b0,
    1px 2px 2px #b9b0b0; 
}

/* NAV */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight);
}
/* MEDIA-QUERIES(MAX-WIDTH: 767PX) */
@media screen and (max-width: 767px){
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 32px;
        background-color: var(--bg-color-dark);
        transition: 0.5s;
    }
    .main__avatar {
        margin-bottom: 40%;
        width: 20%;
    }
    .about__img {
        max-width: 20%;
    }
    .box {
        display: flex;
        flex-direction: column-reverse;
    }
}
    .btn__mode {
        display: flex;
}
    .nav__item {
        margin-bottom: var(--mb-4);
}
    .nav__link {
        position: relative;
        color: var(--text-color-white);
}
    .nav__link:hover {
        position: relative;
        color: var(--text-color-aqua);
}
    .nav__link:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        top: 32px;
}
    .nav__logo {
        width: 150px;
        opacity:0.5;
        transition: .3s ease;
}
.nav__logo:hover {
        opacity:1;
}
    .nav__toggle {
        color: var(--text-color-white);
        font-size: 24px;
        cursor: pointer;
}

/* ACTIVE MENU*/
.active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: 32px;
    background-color: var(--text-color-aqua);
}
/* SHOW MENU */
.show {
    right: 0;
}
/* HOME  */
.home {
    padding: 64px 0 80px;
    position: relative;
    row-gap: 80px;
    height: 100vh;
}
.home__data {
    align-self: center;
}
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home__title-color {
   color: var(--text-color-aqua); 
}
.home__title-color {
    animation: glow 1.8s linear infinite;
}
.home__socials {
    display: flex;
    flex-direction: column;
}
.home__social-icon {
    color: var(--text-color-white);
    font-size: 24px;
    margin-bottom: var(--mb-2);
    transition: text-shadow .1s ease;
    width: max-content;
}
.home__social-icon:hover {
    color: var(--text-color-aqua);
    text-shadow: 0 0 50px  var(--text-color-aqua);
}
.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}
.main__avatar {
    width: 360px;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px var(--text-color-aqua));
}
/* BUTTONS */
.button {
    background-color: var(--text-color-aqua);
    border-radius: 8px;
    color: var(--text-color-white);
    display: inline-block;
    font-weight: var(--font-weight);
    outline: solid var(--text-color-aqua);
    padding: 12px 40px;
    transition: background-color .3s ease;
}
.button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0, .2);
    background-color: var(--bg-color-dark);
    outline-color: var(--text-color-aqua);
}
.button:focus {
    outline: 2px solid #000000;
}
/* ABOUT  */
.about__container {
    row-gap: 32px;
    text-align: center;
}
.about__subtitle {
    margin-bottom: var(--mb-2);
}
.about__img {
    justify-self: center;
}
.about__img img {
    width: 200px;
    border-radius: 8px;
}
.about__describe {
    color: var(--text-color-aqua);
    font-weight: var(--font-weight);
}
.about__text {
    font-size: 20px;
    line-height: 1.5;
}

/* SKILLS */
.skills__container {
    row-gap: 48px;
    text-align: center;
    padding-top: 32px;
}
.skills__subtitle {
    margin-bottom: var(--mb-2);
}
.skills__text {
    margin-bottom: var(--mb-4);
}
.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-weight);
    padding: 8px 16px;
    margin-bottom: var(--mb-4);
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .5);
}
.skills__names {
    display: flex;
    align-items: center;  
}
.skills__icon {
    font-size: 32px;
    margin-right: var(--mb-2);
    cursor: pointer;
    transition: all .3s ease;
}
.skills__icon:hover{
    transform: scale(1.3);
}
.fa-html5 {
    color: #214ce5;
}
.fa-css3-alt {
    color: #f26529;
}
.fa-js {
    color: #f0db4f;
}
.fa-react {
    color: #61dbfb;
}
.fa-sass {
    color: #ce679a;
}
.fa-git-alt {
    color: #f34c27;
}
.skills__img {
    border-radius: 8px;
    transition: .3s ease-in;
}
.skills__img:hover {
    transform: scale(1.1);
}

/* PROJECTS */
.projects__container {
    row-gap: 32px;
}
.projects__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .5);
    border-radius: 10px;
    overflow: hidden;
}
.projects__img img {
    cursor: pointer;
    aspect-ratio: calc(3/2);
    width: 100%;
}

/* CONTACT */
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight);
    padding: 16px;
    border-radius: 20px;
    border: solid 1.5px var(--bg-color-dark);
    outline: none;
    margin-bottom: var(--mb-4);
}
.contact__button {
    border: none;
    display: block;
    cursor: pointer;
    font-size: var(--normal-font-size);
    margin-left: auto;
    outline: solid var(--text-color-aqua);
}

/* FOOTER */
.footer {
    background-color: var(--bg-color-dark);
    color: var(--text-color-white);
    font-weight: var(--font-weight);
    padding: 32px 0;
    text-align: center;
}
.footer__title {
   font-size: 32px;
   margin-bottom:var(--mb-4); 
   background-image: url(https://i.gifer.com/8LIa.gif);
   background-size: cover;
   background-position: center;
   color: transparent;
   background-clip: text;
}
.footer__social {
    margin-bottom: var(--mb-4);
}
.footer__icon {
    color: var(--text-color-white);
    font-size: 24px;
    margin: 0 var(--mb-2);
    animation: pulse-animation 2s infinite;
}
.footer__copyIcon {
    font-size: var(--smaller-font-size);
}
.overlay {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
  .projects__img:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
    background: radial-gradient(grey, rgba(0, 0, 0, .6) 100%);
}
  .text {
    color: var(--text-color-white);
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
  .text__technology {
    text-align: center;
    position: relative;
    color: var(--text-color-aqua);
    top: 85%;
    font-size: 12px;
    text-shadow: 0px 0px 10px var(--text-color-white);
    font-weight: var(--font-weight);
}
.border__technology {
    border: 1px solid var(--text-color-aqua);
    border-radius: 40px;
    padding: 3px;
}
.project__describe {
    position: absolute;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 1.25;
    font-weight: var(--font-weight);
    color: var(--text-color-white);
}
/* MEDIA QUERIES  */
/* MEDIA-QUERIES(MAX WIDTH: 320PX) */
@media screen and (max-width: 320px){
    .home{
        row-gap: 34px;
    }
    .home__img {
        width: 200px;
    }
}
/* MEDIA-QUERIES(MIN-WIDTH: 576PX) */
@media screen and (min-width: 576px) {
    .home {
        padding: 60px 0 128px;
    }
    .home__socials {
        padding-top: 0;
        padding-bottom: 40px;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home__img {
        width: 300px;
        bottom: 25%;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
    .skills__container {
        grid-template-columns: .7fr;
        justify-content: center;
        column-gap: 16px;
    }
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        padding-top: 32px;
    }
    .contact-form {
        width: 360px;
        padding-top: 32px;
    }
    .contact-container {
        justify-content: center;
    }
}
/* MEDIA-QUERIES(MIN-WIDTH: 768PX) */
@media screen and (min-width: 768px){
    .section {
        /* padding-top: 64px;
        padding-bottom: 48px; */
        padding: 100px 105px;
    }
    .section-title {
        margin-bottom: var(--mb-6);
    }
    .section-title::after {
        width: 80px;
        top: 48px;
    }
    .nav {
        height: calc(var(--header-height) + 24px);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link {
        color: var(--text-color-white);
    }
    .home {
        padding: 128px 0 32px;
    }
    .home__img {
        width: 400px;
        bottom: 10%;
    }
    .about__container {
        padding-top: 32px;
    }
    .about__img img {
        width: 300px;
    }
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        align-items: center;
        text-align: initial;
    }
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }
    .home__data {
        align-self: flex-end;
    }
    .home__socials {
        padding-top: 0;
        padding-bottom: 40px;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-2);
    }
    .contact__form {
        width: 360px;
    }
    .contact-container {
        justify-items: center;
    }
    .btn__mode {
        display: flex;
    }
}
/* MEDIA-QUERIES(MIN-WIDTH: 992PX) */
@media screen and (min-width: 992px) {
    
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .home {
        padding: 160px 0 32px;
    }
    .home__img {
        width: 360px;
        margin: 110px 0;
    }
    .btn__mode {
        display: flex;
    }
}
/* THEME MODE */
.dark-mode {
    background-color: var(--bg-color-grey);
    color: (--text-color-white);
 }
.light-mode {
    background-color: var(--text-color-white);
    background-color: var(--bg-color-light);
    color: var(--text-color-black);
    .home__social-icon {
    color: var(--text-color-black);
}
.about__describe, .section-title, .home__title-color, .section-title::after{
    color: var(--text-color-forest);
}
.main__avatar {
    filter: drop-shadow(0 0 20px var(--text-color-forest));
}
.button {
    color: var(--text-color-white);
    background-color: var(--text-color-forest);
}
.button:hover {
    background-color: var(--bg-color-light);  
    color: var(--text-color-forest);
}
.home__title-color {
    animation: glowForest 1.8s linear infinite;
}
.home__social-icon{
    color: var(--text-color-black);
}
.home__social-icon:hover {
    color: var(--text-color-forest);
    text-shadow: 0 0 25px var(--text-color-forest);
    }
.button{
    outline: solid var(--text-color-forest);
}
.border__technology {
    color: var(--bg-color-light);
    border-color: var(--text-color-forest);
}
.project__describe {
    color: var(--bg-color-light);
}
.nav__link:hover {
    color: var(--text-color-forest);
}
.active-link::after {
    background-color: var(--text-color-forest);
}
.footer__title {
    background-image: url(https://media.tenor.com/z2FCN8fira0AAAAM/flamethrower-on-flame.gif);
    background-position: center;
    }
.section-title::after {
    background-color: var(--text-color-forest);
}
.button:focus {
    outline: 2px solid orange;
    }
    .scrollUp__icon {
    color: var(--text-color-black);
}
    .scrollUp {
        background-color: var(--text-color-forest);
        transition: .4s;
    }
    .scrollUp:hover {
        background-color: var(--bg-color-light);
        outline: solid var(--text-color-forest);
    }
}
.moon, .sun {
    position: relative;
    background-color: var(--bg-color-grey);
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}
.moon:hover, .sun:hover {
    background: linear-gradient(to bottom, 
    var(--bg-color-dark), var(--bg-color-grey));
}

/* SCROLL UP */
.scrollUp {
    position: fixed;
    right: 16px;
    bottom: -50px;
    background-color: var(--text-color-aqua);
    opacity: .8;
    padding: 6px;
    border-radius: 6px;
    z-index: var(--z-fixed);
    transition: .4s;
}
.scrollUp:hover {
    background-color: var(--bg-color-dark);
}
.scrollUp__icon {
    font-size: 30px;
    color: var(--text-color-white);
    width: 30px;
    height: 30px;
    text-align: center;    
}
.show-scroll {
    bottom: 24px;
}
/* TOOLTTP FOR NETLIFY ICON  */
.simple-icons--netlify {
    position: absolute;
    left: 30px;
    bottom: 65px;
    display: inline-block;
    width: 26px;
    height: 26px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.49 19.04h-.23L5.13 17.9v-.23l1.73-1.71h1.2l.15.15v1.2L6.5 19.04ZM5.13 6.31V6.1l1.13-1.13h.23L8.2 6.68v1.2l-.15.15h-1.2zm9.96 9.09h-1.65l-.14-.13v-3.83c0-.68-.27-1.2-1.1-1.23c-.42 0-.9 0-1.43.02l-.07.08v4.96l-.14.14H8.9l-.13-.14V8.73l.13-.14h3.7a2.6 2.6 0 0 1 2.61 2.6v4.08l-.13.14Zm-8.37-2.44H.14L0 12.82v-1.64l.14-.14h6.58l.14.14v1.64zm17.14 0h-6.58l-.14-.14v-1.64l.14-.14h6.58l.14.14v1.64zM11.05 6.55V1.64l.14-.14h1.65l.14.14v4.9l-.14.14h-1.65zm0 15.81v-4.9l.14-.14h1.65l.14.13v4.91l-.14.14h-1.65z'/%3E%3C/svg%3E");
    mask-image: var(--svg);
    background-color: #1ac7b8;
  }
  .fa-itch-io {
    position: absolute;
    left: 30px;
    bottom: 65px;
    display: inline-block;
    font-size: 26px;
    color: #fa5c5c;
  }

  .tooltip:hover::before {
    content: 'Check me out on the netlify!';
    background-color: var(--bg-color-dark);
    color: var(--text-color-white);
    position: absolute;
    display: none;
    bottom: 65px;
    left: 60px;
}
.tooltip:hover::before {
    display: block;
}
.tooltip__Itch:hover::before {
    content: 'Check me out on the itch.io';
    background-color: var(--bg-color-dark);
    color: var(--text-color-white);
    position: absolute;
    display: none;
    bottom: 65px;
    left: 60px;
}
.tooltip__Itch:hover::before {
    display: block;
}
/* KEYFRAMES  */
@keyframes flash {
	0% {opacity: .4;}
	100% {opacity: 1;}
}
@keyframes glow {
    40% {text-shadow: 0 0 10px var(--text-color-white);}
}
@keyframes glowForest {
    40% {text-shadow: 0 0 10px var(--text-color-forest);}
}
@keyframes pulse-animation {
    0% {filter: drop-shadow(0 0 5px var(--bg-color-dark));}
    70% {filter: drop-shadow(0 0 5px var(--text-color-white));}
    100% {filter: drop-shadow(0 0 5px var(--bg-color-dark));}
}
